{% extends '@layout/default.html.twig' %}

{% block title %}About of project{% endblock %}

{% block content %}
    <div class="container" class="articles">
        <h2>About <span class="freestylesheets">Freestylesheets</span> API</h2>
        <article>
            <h3>What it this?</h3>
            <p>
                Freestylesheets is an API (application programming interface) that is intended to operate through REST requests for the management of cascade style sheets and fonts in <span class="format">text/css</span> format.
                <!-- Freestylesheets é uma API (application programming interface) que tem o intuito de operar por meio de requisições REST para o gerenciamento de folhas de estilos cascata e fontes no formato text/css. -->
            </p>
        </article>
        <article>
            <h3>Architecture</h3>
            <p>
                This is a RESTful API, which means you use http verbosity to accomplish your tasks, learn more about how it works in the real world in the documentation for this project. For the architectural model of the application was used the skeleton of the Zend Expressive micro framework and thus is based on a middleware architecture that facilitates the communication of this interface.
                <!-- Esta é uma API RESTful, o que significa que utiliza da verbosidade http para realização de suas tarefas, saiba mais sobre como funciona no mundo real na documentação deste projeto. Já para o modelo arquitetural da aplicação foi utlizado o esqueleto do micro framework Zend Expressive sendo assim se baseia em uma arquitetura de middlewares que facilita a comunicação desta interface. -->
            </p>
        </article>
        <article>
            <h3>Creator</h3>
            <p>
                My name is Thalyson Alexandre Rodrigues de Sousa, I have as main area of ​​interest software architectures. I work as a developer with PHP in the backend and frontend part with JS, Vue, HTML5 and CSS3 and graduated in Information Systems from UFMT/Rondonópolis.
                <!-- Meu nome é Thalyson Alexandre Rodrigues de Sousa, tenho como principal área de interesse arquiteturas de softwares. Atuo como desenvolvedor com PHP na parte do backend e no frontend com JS, Vue, HTML5 e CSS3 e graduando de Sistemas de Informação pela UFMT/Rondonópolis. -->
            </p>
        </article>
    </div>
    
{% endblock %}
