{% extends '@layout/default.html.twig' %}

{% block title %}Thank you!{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Thank you {{ firstName }} for your feedback. We'll get back to you soon <i class="far fa-thumbs-up"></i>
        </h1>
    </div>
{% endblock %}
