{% extends '@layout/default.html.twig' %}

{% block title %}Versions API Freestylesheets{% endblock %}

{% block content %}
    <section class="container">
        <ul>
            <li>
                <a href="{{ path('version', {'version': 1}) }}">
                    V1 - API Freestylesheets | First release in dd/mm/yyyy
                </a>
            </li>
        </ul>
    </section>
{% endblock %}
