{% extends '@layout/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
{% endblock %}

{% block title %}Password recovery{% endblock %}

{% block content %}
    <div class="container">
        <header class="container">
            <h1>
                Hello dear, {{ name }}
            </h1>
            <h2>
                 We've received your notification to change your password
            </h2>
        </header>
        <article class="container">
            <p>
                Access the link to change your password
            </p>
            <a href="/api/v1/users/change-password?token={{ token }}">Click here</a>
        </article>
    </div>
{% endblock %}
